<center>
    <h2>Editando Administrador</h2>
<center>

<div class="x_panel">
    <div class="x_content" style="display: block;">
        <br>
        <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
            <div class="item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align" for="email">Email <span class="required">*</span></label>
                <div class="col-md-6 col-sm-6 ">
                    <input type="text" id="email" name="email" required="required" class="form-control">
                </div>
            </div>
            <div class="item form-group">
                <label for="senha" class="col-form-label col-md-3 col-sm-3 label-align">Senha <span class="required">*</span></label>
                <div class="col-md-6 col-sm-6 ">
                    <input id="senha" class="form-control" type="text" name="senha">
                </div>
            </div>
            <div class="item form-group">
                <label for="senha-confirm" class="col-form-label col-md-3 col-sm-3 label-align">Digite a senha novamente <span class="required">*</span></label>
                <div class="col-md-6 col-sm-6 ">
                    <input id="senha-confirm" class="form-control" type="text" name="senha-confirm">
                </div>
            </div>
            <div class="ln_solid"></div>
            <div class="item form-group">
                <div class="col-md-12 col-sm-6 offset-md-3">
                    <button class="btn btn-danger" type="button">Cancelar</button>
                    <button class="btn btn-primary" type="reset">Resetar</button>
                    <button type="submit" class="btn btn-success">Aplicar</button>
                </div>
            </div>
        </form>
    </div>
</div>